* {
    list-style: none;
    margin: 0;
    padding: 0;
  }

body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}




/* #wrap {
	width: 802px;
	margin: 0 auto;
} */

#head {
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	background: url(images/bg_head.png) bottom left repeat-x #106eb7;
	color: #fff;
	padding: 20px;
	margin-bottom: 20px;
}

.space{
	width: 100%;
	height: 150px;
}

h1 {
	padding-left: 25px;
	font-size: 197%;
	font-weight: bold;
}

h2 {
	font-weight: bold;
	margin-bottom: 0.5em;
}

/* #content {
	padding: 20px;
	width: 720px;
	min-height: 490px;
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 153.9%;
} */

* html #content {
	height: 490px;
}

p {
	line-height: 1.2em;
	margin-bottom: 0.5em;
}

dl {
	margin-bottom: 10px;
}
dt {
	
	padding-left: 5px;
	margin-bottom: 5px;
}
.message-bd{
	margin-top: 100px;
}


dd {
	margin-bottom: 0.5em;
}

.required {
	background-color: #BB1850;
	color: #fff;
	font-size: 90%;
	padding: 2px;
	margin-left: 10px;
}

/* #foot {
	width: 780px;
	text-align: right;
} */

th, td {
	border: 1px solid #999;
	padding: 3px;
}

th {
	background-color: #106eb7;
	color: #fff;
	font-weight: bold;
}

li {
	list-style: circle;
	margin-left: 20px;
	margin-bottom: 0.5em;
}

.paging {
	margin-top: 10px;
	text-align: center;
}
.paging li {
	display: inline;
	list-style: none;
	font-size: 15px;
}

.error {
	font-size: 90%;
	color: #BB1850;
}

#lead {
	margin-bottom: 1em;
}

.msg {
	clear: both;
	border-top: 1px solid #ccc;
	padding: 10px 0;
}
.msg img {
	float: left;
	margin-right: 5px;
}
.msg p {
	margin: 0;
}
.msg .day,
.msg .day a {
	font-size: 80%;
	color: #999;
}


.jumbotron{
    background-image: url(images/background-img.png);
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}


.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
}

.btn-home{
  display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
}


nav{
  height: 100px;
  width: 100%;
  background-color: #bce2e8 !important;
}

nav .navbar-brand{
  font-size: 45px;
  color:#7b7c7d !important;
}


  .top-page {
    width: 100%;
    height: 500px;
  }

  .top-page h2 {
    font-size: 40px;
    padding-top: 100px;
    padding-bottom: 50px;
  }



  .first-sentense{
      padding-bottom: 50px;
  }


  .first-sentense .lead-text {
    font-size: 20px;
  }
  
  .first-sentense .sentense-1 {
    margin-bottom: 40px;
   
  }
  
  .first-sentense .sentense-2 {
    margin-bottom: 40px;
  }

  .contents h2 {
    font-size: 40px;
    margin-bottom: 10px;
  }


.row{
  margin-top: 150px;
  padding-bottom: 50px;
}

.contact-h1{
  font-size: 30px;
}


footer{
  height: 80px;
  width: 100%;
  background-color: #adadad;
}

/* authorページ */
